@import "~bootstrap/dist/css/bootstrap.min.css";
let who = ["The dog", "My grandma", "The Mailman", "My bird"];
let whatR = what[Math.floor(Math.random() * what.length)];
let whenR = when[Math.floor(Math.random() * when.length)];
img.src = picsR;

document.getElementById("excuse").innerHTML =
  whoR + " " + actionR + " " + whatR + " " + whenR;
};
6 changes: 4 additions & 2 deletions6  
src/index.html
@@ -8,9 +8,11 @@
  <script src="app.js"></script>
</head>
<body>
  <div class="centered-image">
    <img src="" id="img" />
  </div>
  <h1>OMG! you wont believe it but..</h1>
  <h2 id="excuse">My dog ate my homework</h1>
   <img src="" id="img">
  <h2 id="excuse">My dog ate my homework</h2>
</body>
</html>
<!-- //
10 changes: 9 additions & 1 deletion10  
src/style.css
@@ -6,9 +6,17 @@ h1 {
}
h2 {
text-align: center;
padding-top: 0;
padding-top: 50px;
text-decoration: solid;
}
body {
background-color: rgb(61, 85, 175);
}
.centered-image {
display: flex;
justify-content: center;
}
img {
height: 500px;
width: 560px;
}